/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2014, 10:08:59 PM
    Author     : Bryan Schreckengost
*/
#a
{
    background-color: aliceblue;
}

#Menu
{ 
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1510px;
    height: 50px;
    font-size: 50px;
}
.left
{
    float: left;
}
html
{
    width: 100%;
}
#menuContent
{
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 285px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
